body
{
    background: #f0f1f2;
    margin: 0;
}

/*Todo - Custom CSS */

/** Color CSS **/
.color-blue
{
    color: #0f2b7e;
}

/** Icon Rotation **/

#icon-270 /*? Arrow-icon */
{
    transform: rotate(270deg); /** Rotate icon to 180 deg */
    font-size: 40px;  
}

#icon-180 /*? Arrow-icon */
{
    transform: rotate(45deg); /** Rotate icon to 45 deg */
    font-size: 40px;  
}

/** Aligh Center **/

.align-center
{
    text-align: center;
}


/** margin Space in main section **/
.mt-7
{
    margin-top: 70px;
}

.mt-9
{
    margin-top: 110px;
}

/*Todo - Section CSS */


/** Navigation Bar */

.navbar /*? Navigation Bar */
{
    border-radius: 25px;
    margin: 20px 60px;
    padding-top: 0%; /** Remove top space */
    padding-bottom: 0%; /** Remove bottom space */
}

.nav-item /*? Navigation buttons */
{
    margin-left: 25px; /** Button space left **/
    font-size: 14px;
    padding: 0px 5px;
    transition: background-color 0.8s ease;    
}

.nav-link /*? Navigation buttons link */
{
    color: #0f2b7e;  /** Buttons Normal Color */
}

.nav-link:hover /*? When hover navigation buttons */
{
    background-color: #a7cf38; /** Hover background color */
    color: rgb(255, 255, 255);  /** Font Color */     
}

/** Hero Section */



/*?  Hero Text */
.hero-text
{
    color: #0f2b7e;
}

/*? Explore showcase  */
.explore-showcase
{
    /** border **/
    border-radius: 25px;

    /** Background **/
    background-color: #172346;
    padding: 10px 120px 10px 20px;

    /** Font **/
    color: #f0f1f2;
    font-size: 14px; 

     /** Position **/
    position: absolute;
    
}

/*? Quick Protfolio Button  */
.quick-protfolio-btn
{   
    /** Button Border **/
    border-radius: 25px;
    border-style: none;

    /** Button **/
    background-color: #a7cf38;
    padding: 10px 30px;

     /** Button Font **/
    color: #f0f1f2;
    font-size: 14px; 

   
    /** Button Position **/
    position: relative;
    left:150px;
    

    
}

/** Hero-image */
.hero-img 
{
   border-radius: 25px; /** Round the 25px corenr */
}


/** Video Section - Clients & Jobs **/
.job-text
{
    font-size: 38px;
}


/*Todo : About us */

.blue-part /*? Vision & Mission (div) - blue */
{
    /** Background **/
    background-color: #172346;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

    /** Text **/
    color: white;

    padding: 60px;

    

    /** Position **/
    position: relative;
    left: 28px;

    

    
}

.white-part /*? Image with About us (div) - white */
{
   
        /** Background **/
        background-color:white;
        border-bottom-right-radius: 45px;

        padding: 60px 60px 60px 120px;

        position: relative;
        right: 68px;

        /** Height of the box **/
        height: 705px;

        z-index: -1;
        

}

/*Todo : Our Solutions */

/*? Our Solution Title */
.our-solution-title
{
    margin-bottom: 60px;
}


.solution-box-icon /*? Icon with green section of solution box */
{
    /** Background **/
    background-color: #a7cf38;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    text-align: center;

    /** Padding */
    padding: 30px;

    margin-left: 40px;
    margin-right: 40px;

}

.solution-box /*? Icon with green section of solution box */
{
    /** Background **/
    background-color: white;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

    text-align: center;

    /** Padding */
    padding: 20px;

    margin-left: 40px;
    margin-right: 40px;

    margin-bottom: 40px;

}
