body
{
    background: #f0f1f2;
    margin: 0;
    padding: 0;
}

/*Todo - Custom CSS */

/** Color CSS **/
.color-blue
{
    color: #0f2b7e;
}

.color-green{ 

    color: #a7cf38;

}

.color-white{

    color: #f0f1f2;
}

/** Icon Rotation **/

#icon-270 /*? Arrow-icon */
{
    transform: rotate(270deg); /** Rotate icon to 180 deg */
    font-size: 40px;  
}

#icon-180 /*? Arrow-icon */
{
    transform: rotate(45deg); /** Rotate icon to 45 deg */
    font-size: 40px;  
}


/** Aligh Center **/

.align-center
{
    text-align: center;
}


/** margin Space in main section **/
.mt-7
{
    margin-top: 70px;
}

.mt-9
{
    margin-top: 110px;
}

/*Todo - Section CSS */


/** Navigation Bar */

.navbar /*? Navigation Bar */
{
    border-radius: 25px;
    margin: 20px 60px;
    padding-top: 0%; /** Remove top space */
    padding-bottom: 0%; /** Remove bottom space */
}

.nav-item /*? Navigation buttons */
{
    margin-left: 25px; /** Button space left **/
    font-size: 14px;
    padding: 0px 5px;
    transition: background-color 0.8s ease;    
}

.nav-link /*? Navigation buttons link */
{
    color: #0f2b7e;  /** Buttons Normal Color */
}

.nav-link:hover /*? When hover navigation buttons */
{
    background-color: #a7cf38; /** Hover background color */
    color: rgb(255, 255, 255);  /** Font Color */     
}


/** Portfolio Gallery **/

.quick-protfolio-btn2 /* TODO ---- Portfolio Gallery Button in Card --- */
{
     /** Button Border **/
     border-radius: 25px;
     border-style: none;
 
     /** Button **/
     background-color: #0f2b7e;
     padding: 10px 30px;
 
      /** Button Font **/
     color: #f0f1f2;
     font-size: 14px; 
 
     /** Button Position **/

     text-decoration: none;

     
}

.quick-protfolio-btn2:hover
{
    background-color: #a7cf38;
}


.btn-link
{
    text-decoration: none;
    color: #f0f1f2;
}

.btn-link:hover
{
    color: #f0f1f2;
}




.card
{   
    border: none;
    border-radius:0px;  
    
}

/** News **/

/*? News */
.Date
{
    color: #989898;
}

/** Hero Section */



/*?  Hero Text */
.hero-text
{
    color: #0f2b7e;
}

/*? Explore showcase  */
.explore-showcase
{
    /** border **/
    border-radius: 25px;

    /** Background **/
    background-color: #172346;
    padding: 10px 120px 10px 20px;

    /** Font **/
    color: #f0f1f2;
    font-size: 14px; 

     /** Position **/
    position: absolute;
    
}

/*? Quick Protfolio Button  */
.quick-protfolio-btn
{   
    /** Button Border **/
    border-radius: 25px;
    border-style: none;

    /** Button **/
    background-color: #a7cf38;
    padding: 10px 30px;

     /** Button Font **/
    color: #f0f1f2;
    font-size: 14px; 

   
    /** Button Position **/
    position: relative;
    left:150px;

}


.quick-protfolio-btn a {
    /** Text **/
    text-decoration: none;
    color: white;
}

/*? Quick Protfolio Btn Hover */
.quick-protfolio-btn:hover{

    background-color: #c5ea60;
    color: #172346;
}

/** Hero-image */
.hero-img 
{
   border-radius: 25px; /** Round the 25px corenr */
}


/** Video Section - Clients & Jobs **/
.job-text
{
    font-size: 38px;
}


/*Todo : About us */

.blue-part /*? Vision & Mission (div) - blue */
{
    /** Background **/
    background-color: #172346;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

    /** Text **/
    color: white;

    padding: 60px;

    

    /** Position **/
    position: relative;
    left: 28px;

    

    
}

.white-part /*? Image with About us (div) - white */
{
   
        /** Background **/
        background-color:white;
        border-bottom-right-radius: 45px;

        padding: 60px 60px 60px 120px;

        position: relative;
        right: 68px;

        /** Height of the box **/
        height: 705px;

        z-index: -1;
        

}

/*? About Us Image */

#aboutus-image{

    border-radius: 25px;
    
} 


/*Todo : Our Solutions */

/*? Our Solution Title */
.our-solution-title
{
    margin-bottom: 60px;
}

/*? image (Enginner) */

#eng-img{
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    filter:contrast(84%)
}

.solution-box-icon /*? Icon with green section of solution box */
{
    /** Background **/
    background-color: #a7cf38;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    text-align: center;

    /** Padding */
    padding: 30px;

    margin-left: 40px;
    margin-right: 40px;

}

.solution-box /*? Icon with green section of solution box */
{
    /** Background **/
    background-color: white;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

    text-align: center;

    /** Padding */
    padding: 20px;

    margin-left: 40px;
    margin-right: 40px;

    margin-bottom: 40px;

    height: 258px;

}

.costbox
{
     padding: 32px;
}

.slider-wrapper
{
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}

.slider
{
    display: flex;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 25px;
}

.slider img 
{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav
{
    display: flex;
    column-gap: 12px;
    position: relative;
    bottom: -10px;
   
}



.slider-nav a:hover
{
    opacity: 50%;
}

.btn-gallery a /*? Portfolio Button */
{
    text-decoration: none;
    text-align: center;
    padding-top: 4px;
    color: #a7cf38
}

/*Todo - Quote */

/*? Quote Icon */
#quote-icon {
    font-size: 60px;
    color: #a7cf38;
    padding: 40px;
}

/*? Clients name & Job Category (div)*/
.name{
    padding: 20px;
}

/*? Clinet name */
.name h5{
    color: #0f2b7e;
}

/*? Clinet job */
.name p{
    color: #989898;
}

.quotes {
    margin-bottom:70px;
}

/*Todo - Team members */

.team-member{   /*? team member (div) */
    /** Bacckground **/
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    background-color: #172346;
    /** inside space **/
    padding: 30px;
    color: white;
}

/*Todo - Contact Us */


.Details{ 
    padding: 32px;
}

#sub{
    border: none;
    border-radius: 25px;
    width: 400px;
    background-color:#172346;
}

footer
{
    background-color: #172346;
    
    
}

/** Whatsup Button **/
.WhatsApp{

    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    background-color: #a7cf38;
}

label{

    color: #f0f1f2; 
    margin-top: 25px;
    margin-bottom: 8px;
}

#message-box{

    height: 80px;
}

input{ /** form Input **/

    border-radius: 45px;
    border: none;

    width: 400px;
    height: 30px;
  
}

.contact-forum{

    padding-left: 0%;
}

.send-btn{

    padding: 12px 32px;
    border-radius: 30px;
    border: none;
}

.link-btn{

    padding: 12px 32px;
    border-radius: 30px;
    border: none;
    
        
}


/** Team Blue Box **/

.team_tharanga{

    font-weight: 100;
   
}

.team_asanga{

    padding-bottom: 165px;
    font-weight: 100;
   
}

.team_sameera{

    padding-bottom: 210px;
    font-weight: 100;
   
}


/** WhatsApp button **/

.WhatsApp:hover{

    background-color: #16c54e;
}

/** Social media Button **/

.link-btn:hover{

    color: rgb(19, 108, 234);
}

/** Send Button **/

.send-btn:hover{

    background-color: #00497e;
}

/** **/
.footer_under{
    background-color: #172346;
    color:#a7cf38;
}



/** Responsive - Media Quary - **/

@media (max-width: 1399.98px) {
    .white-part /*? Image with About us (div) - white */
    {
       
            /** Background **/
            background-color:white;
            border-bottom-right-radius: 45px;
    
            padding: 60px 60px 60px 120px;
    
            position: relative;
            right: 68px;
    
            /** Height of the box **/
            height: 777px;
    
            z-index: -1;
}
}


@media (max-width: 1199.98px){
    .white-part {/*? Image with About us (div) - white */
    
       
            /** Background **/
            background-color:white;
            border-bottom-right-radius: 45px;
    
            padding: 60px 60px 60px 120px;
    
            position: relative;
            right: 68px;
    
            /** Height of the box **/
            height: 890px;
    
            z-index: -1;}

            .solution-box{
                height: fit-content;
            }
        
            .hero-title{                                /*? "Protfolio Button" to Center */
                visibility: hidden;
            }
}



@media (max-width: 991.98px){
    .white-part /*? Image with About us (div) - white */
    {
       
            /** Background **/
            background-color:white;
            border-bottom-right-radius: 45px;
    
            padding: 60px 60px 60px 120px;
    
            position: relative;
            right: 68px;
    
            /** Height of the box **/
            height: 1370px;
    
            z-index: -1;
            
    
    }

    .solution-box{
        height: fit-content;
    }

    .hero-title{                                /*? "Protfolio Button" to Center */
        visibility: hidden;
    }
}

@media (max-width: 767.98px) { 

  
    .blue-part{
        position: relative;
        left: 0px;
    }

    .white-part{
        position: relative;
        left: 0px;
        padding: auto;
        padding-right: 100px;
        height: fit-content;
    }

    .solution-box{
        height: fit-content;
    }

    #hero-header{                               /*? Banner header text to Center */
        text-align: center;
        font-size:60px;
        visibility:visible;

    }

    .banner-arrow {                              /*? Arrow icon  to Center */
        position: relative;
        left: 50%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }

    .hero-title{                                /*? "Protfolio Button" to Center */
        position: relative;
        
        
        visibility: visible;
        margin-top: 0px;
        bottom: 20px;


}

@media (max-width: 575.98px)  { 

    .white-part /*? Image with About us (div) - white */
    {
       
            /** Background **/
            background-color:white;
            border-bottom-right-radius: 45px;
    
            padding: 60px 60px 60px 120px;
    
            position: relative;
            right: 68px;
    
            /** Height of the box **/
            height: 777px;
    
            z-index: -1;
            
    
    }

    .card
{   
    border: none;
    border-radius:0px;  
    margin: auto;  

    
}


    #hero-header{                               /*? Banner header text to Center */
        text-align: center;
        font-size:60px;
        visibility:visible;

    }

    .banner-arrow {                              /*? Arrow icon  to Center */
        position: relative;
        left: 50%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        
    }

    .hero-title{                                /*? "Protfolio Button" to Center */
        position: relative;
        
        
        visibility: visible;
        margin-top: 0px;
        bottom: 20px;
    }

    #aboutus-image{
        visibility: hidden;
    }
    .white-part{
        padding: 20px;
        
    }

    input{ /** form Input **/

        border-radius: 45px;
        border: none;
    
        width: 300px;
        height: 30px;
      
    }

    .footer-img {
        width: 200px;
    }

/** About us **/

    .blue-part{
        position: relative;
        left: 0px;
    }

    .white-part{
        position: relative;
        left: 0px;
        padding: auto;
        padding-right: 100px;
        height: fit-content;
    }

    .white-part img{
        width: 500px;
        
    }

    

}